[user]
	name = Michiel Scholten
	email = michiel@aquariusoft.org

[giggle]
	main-window-maximized = true
	main-window-geometry = 430x306+0+26
	history-view-vpane-position = 550
	file-view-vpane-position = 730
	main-window-view = HistoryView

[alias]
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	shove = commit -m \"$(curl http://whatthecommit.com/ 2> /dev/null |html2text |head -n1)\"
	st = status
	co = checkout
	ci = commit
	br = branch

[push]
	default = simple

[core]
	editor = vim
