[user]
	name = Michiel Scholten
	email = michiel@diginaut.net

[giggle]
	main-window-maximized = true
	main-window-geometry = 430x306+0+26
	history-view-vpane-position = 550
	file-view-vpane-position = 730
	main-window-view = HistoryView

[alias]
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	shove = commit -m \"$(curl http://whatthecommit.com/ 2> /dev/null |html2text |head -n1)\"
	st = status
	co = checkout
	ci = commit
	br = branch
	c = commit -am
	shame = blame
	r = !GIT_NO_PAGER=1 git l -30
	l = "!. ~/.githelpers && pretty_git_log"


[push]
	default = simple

[core]
	editor = vim

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@bitbucket.org:"]
	insteadOf = "bb:"
	pushInsteadOf = "bitbucket:"
	pushInsteadOf = "git://bitbucket.org/"

[url "git://bitbucket.org/"]
	insteadOf = "bitbucket:"
